.bg-1 { 
    background-color: #1abc9c;
    color: #ffffff;
}
.bg-2 { 
    background-color: #474e5d;
    color: #ffffff;
}
.bg-3 { 
    background-color: #ffffff;
    color: #555555;
}
.bg-4 { 
      background-color: #2f2f2f;
      color: #fff;
    	bottom:0;
    	width:100%;
  }
.container-fluid {
    padding-top: 20px;
    padding-bottom: 20px;
}

.btLogout{
	color: #fff;
}

.menuLink{
	color: #ffffff;
}

.botoes{
	margin-top: 0%;
	position: absolute;
}

.formulario{
	text-align: left;
}

.conteudo-pergunta{
	top: 50%;
  	transform: translateY(-50%); /*centralizando o elemento*/
	position: relative;
	text-align: center;
	text-align: justify;
	font-weight: bold;
}

#img{
	margin-top: 30px;
	height: 80%;
	position: absolute;
}

#botao{
	position: relative;
	margin-top: 100px;
	margin-left: 800px;
}

.conteudo-topo{
	height:400px;
	border-radius: 15px;
	border-color: black;
	border: 3px solid;
}

.conteudo-menu{
	position: absolute;
	height: 100px;
	border-radius: 15px;
	background-color: white;
	font-family: helvetica, arial, verdana;

	border: 3px solid;
	border-color: black;
}